@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=PT+Sans+Narrow:wght@400;700&display=swap');

body {
    font-family: "Poppins";
    font-weight: bolder;
    text-align: center;
    background: url('a.jpg');
    color:white;
}

/* Forcing the image size if it's too big */
img {
    width: 300px;
    auto;
}
